
    body {
      text-align: center;
      background: url(http://images.photowall.com/products/46037/bookshelf-grayscale.jpg?h=650&q=90&);
      background-size: cover;
      background-position: center;
      background-blend-mode: lighten;
      background opacity: 0.5;
      background-color: rgba(255, 0, 0, .5)
      color: yellow;
      font-family: helvetica;
    }
      header {
      text-align: center;
      background-size: cover;
      background-color: rgba(255,255,255,0.5);
     
    }

small {
  background-color: grey;
  color: white;
  text-align: center;
  background-size:cover; 
}
div {
  height: 200px;
  background-size: cover;
  position: inline;
  display: inline-table;
  padding: 10px 10px 10px 10px;
  margin: 40px 0 0 0;
  border-radius: 12px;

}
    article {
      max-width: 1200px;
      padding: 20px;
      margin: 0 auto;
    }
    
    h1 {
      color: yellow;
      background-color: grey;
    }
    p {
      text-align: center;
      color: black;
      font-size: 22px;
    }
    h2 {
      text-align: center;
      color: black;
      font-size: 22px;
      background-size: cover;
      background-color: rgba(255,255,255,0.5);


    }
    h3 {
      text-align: center;
      color: black;
      font-size: 16px;
      background-size: cover;
      background-color: rgba(255,255,255,0.5);
    }
    h7 {
      text-align: center;
      color: yellow;
      font-size: 16px;
      background-size: cover;
      background-color: black;
    }
    a {
      color: black;
      background-size: cover;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: yellow;
      color: black;
    }
  ul {
    background: yellow;
    opacity: 0.8;
    padding: 10px;}
  li {
  
    display: inline;
    padding: 0px 10px 0px 10px;
    ;
  }
  footer {
    background-size: cover;
    background-color: rgba(255,255,255,0.5);
  }
  footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:25px;
   width: 100%;
   background:#999;
}
h4 {
  display: inline


}
